$blue_background: #4355b8c4;

body {
    display: flex;
    justify-content: center;
    font-family: monospace;
    margin: 0;
}

nav {
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 63);
    position: fixed;
    ul{
        display: flex;
        padding: 0 ;
        margin: auto;
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
        
        li{
            display: flex;  
            height: 100%;
            padding: auto;
            margin: 0;
            justify-content: center;
            align-items: center;
        }
    }
}

#projectsTable {
    background-color: $blue_background;
    width: auto;
    margin: auto;
    border: 1px solid black;
    tr {
        font-size: x-large ;
        width: auto;
        td {
            border: 1px solid black;
            text-align: center;
            font-size: x-large;
            padding: 1% 0; 
            margin: 0;
            width: auto;
        }
        th {
            border: 1px solid black;
            padding: 1%;
        }
    }
}

#homeBody {
    background: url("../CSS/Pictures/67110554-fdea5400-f20d-11e9-834a-d459a612b7b1.gif") no-repeat center center fixed;
    background-color: rgb(32, 32, 32);
    background-size: cover;    
}

#aboutBody{
    background: url("../CSS/Pictures/2471283.gif") no-repeat center center fixed;
    background-color: rgb(32,32,32 );
    background-size: cover;
}

#skillsBody{
    background: url("../CSS/Pictures/204538-2261x1326-HTML.jpg")no-repeat center center fixed;
    background-color: rgb(32,32,32 );
    background-size: cover;
}

#projectsBody{
    background: url("../CSS/Pictures/5da8e3b5a0ddfd9aff9277d494bef010.jpg" )no-repeat center center fixed;
    background-color: rgb(32,32,32 );
    background-size: cover;
    
}

#skillList{
    width: 50%;
    padding: 0 ;
    margin: auto;
    font-size: 2em;
    li{ 
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $blue_background;
        margin:5px;
        padding: 10px;
       img{
            padding: 10px;
            width: 25% ;
            height:auto;
            margin: 5px;
        } 
    }
}

#welcome {
    position: absolute;
    font-size: 50px;
    padding: 5px;
    top:25%;

}

.navbar a{
    color: rgb(255, 196, 2);
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px ;
    margin: 5px 5px;
}

.navbar li:hover{
    background-color:rgba(112, 128, 144, 0.342) ;
    
    
}

.content {
    margin: 5%;
    background: rgba(128, 128, 128, 0.555);
    height: 100vh;
    padding: 20px;
    width: 50%;
    

}

.content h2{
    display: flex;
    justify-content: center;
   
}